/*HomeUI*/
#Homeui > .leftspacing30px > #Homeboxes > #RecentDiv {
    background-color: rgb(49, 49, 49);
    width: 300px;
    height: 300px;

    padding: 12px;
    margin-top: 40px;

    border-top-left-radius:12px;
    border-top-right-radius:12px;
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#Homeui > .leftspacing30px > #Homeboxes > #RecentDiv > h1 {
    text-align: center;
    margin-top: -5px;
}

#Homeui > .leftspacing30px > #Homeboxes > #RecentDiv > button {
    text-align: left;
    
    background: none;
    border: none;
    outline: none;

    color: white;
}




.Drives {
    position: relative;
    display: inline-block;
}

#DriveButton {
    background-color: transparent;
    border: none;
    cursor: pointer; 
}

#DriveButton img {
    width: 24px;
    height: auto;
}

#Drives:hover #DriveButton {border-bottom: 2px solid blue;}

#Drives-content {
    display: none;
    position: absolute; 
    background-color: #0000008e; 
    min-width: 30px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 2px;
}

#Drives-content button {
    color: rgb(255, 255, 255);
    padding: 12px 16px; 
    text-decoration: none;
    display: block;

    background: none;
    border: none;
    outline: none;
}

#Drives:hover #Drives-content {
    display: block;
}

#DriveButton:hover {
    opacity: 0.8;
}
